body {
    background-color: #ffe6f0;
    overflow: hidden;
}

.heart {
    width: 20px;
    height: 20px;
    position: absolute;
    background-color: pink;
    transform: rotate(45deg);
    animation: float 6s infinite ease-in-out;
}

.heart:before, .heart:after {
    content: "";
    width: 20px;
    height: 20px;
    background-color: pink;
    position: absolute;
    border-radius: 50%;
}

.heart:before {
    top: -10px;
    left: 0;
}

.heart:after {
    left: 10px;
    top: 0;
}

@keyframes float {
    0% {
        transform: translateY(0) rotate(45deg);
    }
    100% {
        transform: translateY(-800px) rotate(45deg);
    }
}
